[Desktop Entry]
Type=Application
Name=Helligkeit
Comment=Bildschirmhelligkeit einstellen
Exec=/home/spielstand/brightness_gui.sh
Icon=video-display
Terminal=false
Categories=Utility;